In [1]:

# * ライブラリ、データセットのインポート
import pandas as pd
import sklearn
from sklearn.datasets import load_iris
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

In [2]:

# * データセットの読み込み
iris = load_iris()

# * 特徴量をデータフレームに格納して最初の五行を表示
# * #iris_features = pd.DataFrame(data = iris.data, columns = iris.feature_names)
# * iris_features.head()

X = iris.data
y = iris.target

In [3]:

# * データをデータフレームに変換

columns = iris.feature_names
df = pd.DataFrame(X, columns=columns)

In [4]:

# * 基本統計量の確認
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [5]:

# * クラスごとの基本統計量
df['target'] = y
df.groupby('target').mean()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
target,,,,
0,5.006,3.428,1.462,0.246
1,5.936,2.770,4.260,1.326
2,6.588,2.974,5.552,2.026